<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <title data-layout-title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">CourseProject</title>
</head>
<body>
<section layout:fragment="content">
    <p>Page content goes here</p>
</section>
</body>
</html>
